* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background: transparent url('../img/bg.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    overflow: hidden;
}

nav {
    display: flex;
    float: left;
    width: 75px;
    height: 100vh;
    justify-content: center;
    position: absolute;
    background-color: #3340A2;
}

nav ul {
    list-style: none;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul li {
    width: 100%;
    height: 85px;
    transition: 0.3s all;
    cursor: pointer;
    padding: 0;
}

nav ul li a {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover {
    background-color: #FD9EFF;
    transition: 0.3s all;
}

nav ul a {
    display: block;
}

nav ul li a img {
    display: block;
    max-width: 30px;
}

nav .contact {
    bottom: 10px;
}

.active {
    background-color: #FD9EFF;
    transition: 0.3s all;
}

main {
    margin: auto;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #3340A2 0% 0% no-repeat padding-box;
    animation: slide-downwards 1s ease;
}

.top {
    width: 85%;
    display: flex;
    flex-direction: column;
}

p,label {
    text-align: center; 
    font: normal normal normal 20px/24px 'Montserrat',sans-serif;
    color: #FFFFFF;
}

.question_type {
    margin-top: 3%;
}

.count {
    margin-top: 3%;
}

.question {
    text-align: center;
    font: normal normal bold 30px/41px 'Nunito',sans-serif;
    color: #FFFFFF;
    margin-top: 1em;
    transition: opacity 200ms linear;
}


.time {
    text-align: center;
    font: normal normal bold 55px/67px 'Montserrat',sans-serif;
    color: #FFFFFF;
    margin: 3% 0;
    transition: 1s;
}

.middle {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.timer {
    width: 100%;
    height: 15px;
    background-color: #FD9EFF;
    margin-top: 1em;

    animation: progressbar-countdown;
    animation-duration: 60s;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

   
}


.answers {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    
}

.answer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6vh;
    margin-top: 3%;
    transition: 500ms;
}

.answer:hover {
    cursor: pointer;
    height: 7vh;
    background-color: rgb(255, 255, 255,0.2);
}

.marker {
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 2em;
} 

.marker:hover {
    cursor: pointer;
}

li label {
    width: 90%;
    text-align: left;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}

.next {
    margin: 3%;
    width: 287px;
    height: 85px;
    background: #37FFAF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #30F3BE6D;
    border-radius: 54px;
    outline: none;
    border: none;

    text-align: center;
    font: normal normal bold 30px/41px 'Nunito',sans-serif;
    color: #3340A2;
    transition: 300ms;
}

.next:hover {
    cursor: pointer;
    background: #00FF99 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 17px #30F3BEAD;
}

.next:active {
    box-shadow: 0px 3px 10px #30F3BE6D;
}

.next:disabled {
    opacity: 0.5;
    box-shadow: none;
}

@keyframes progressbar-countdown {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

@keyframes slide-downwards {
    0% {
        opacity: 0.3;
        transform: translateY(-700px);
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slide-downwards {
    0% {
        opacity: 0.3;
        transform: translateY(-700px);
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}