/* Small phones */  
@media (max-width: 450px) {
    * {
        box-sizing: border-box;
    }

    main {
        width: 100%;
    }

    .question_type {
        margin-top: 30%;
    }

    .time {
        font-size: 32px;
    }

    li p {
        font-size: 18px;
    }

    .next {
        width: 230px;
        height: 70px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .question {
        font-size: 25px;
        line-height: 28px;
    }

    .timer {
        margin-top: 0;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 767px) and (max-width: 991px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 991px) and (max-width: 1200px) {
    
}