/* Small phones */  
@media (max-width: 450px) {
    * {
        box-sizing: border-box;
    }

    main {
        width: 100%;
    }

    .question_type {
        margin-top: 30%;
        font-size: 18px;
    }
    
    .count {
        font-size: 18px;
    }

    .time {
        font-size: 24px;
        margin: 0 auto;
    }

    .answers {
        margin-top: 1.5em;
    }

    .answer {
        margin-top: 2%;
    }

    li p {
        font-size: 16px;
    }

    .next {
        width: 180px;
        height: 50px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 25px;
    }

    .question {
        font-size: 18px;
        line-height: 28px;
    }

    .timer {
        margin-top: 0;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    * {
        box-sizing: border-box;
    }

    main {
        width: 100%;
    }

    .question_type {
        margin-top: 30%;
        font-size: 18px;
    }
    
    .count {
        font-size: 18px;
    }

    .time {
        font-size: 24px;
        margin: 0 auto;
    }

    .answers {
        margin-top: 1.5em;
    }

    .answer {
        margin-top: 2%;
    }

    li p {
        font-size: 16px;
    }

    .next {
        width: 180px;
        height: 50px;
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
        font-size: 25px;
    }

    .question {
        font-size: 18px;
        line-height: 28px;
    }

    .timer {
        margin-top: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 767px) and (max-width: 991px) {
    .next {
        display: block;
        margin: 0 auto;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 991px) and (max-width: 1200px) {
    .next {
        display: block;
        margin: 0 auto;
    }
}
